<!-- Product section-->
<section class="py-5 bg-secondary">
    
    <div class="container px-4 px-lg-5 my-5">

        <div class="row gx-4 gx-lg-5 align-items-center">

            <div class="col-md-6 ">

                <img class="card-img-top mb-5 mb-md-0 rounded-5 border-5 border border-dark w-75"  src = {{pdata.productImage}} />

            </div>

            <div class="col-md-6" style="color: rgb(78, 243, 185);">

                <div class="small mb-1">

                   Rating : {{pdata.Rating}}

                </div>

                    <h1 class="display-5 fw-bolder"> {{pdata.productName}} </h1>

                <div class="fs-5 mb-5">

                    <span class="text-decoration-line-through"> ${{pdata.price + 500}} </span>

                    <span class="ms-2"> ${{pdata.price}} </span>

                </div>

                    <p class="lead"> {{pdata.descriptions}} </p>

                    <span class="lead">Review : {{pdata.review}}.K </span>


                <div class="d-flex mt-3 ">
                    
                    <button class="btn btn-outline-dark flex-shrink-0 border-2 border border-warning rounded-5 bg-transparent fw-bolder" type="button">

                        <a href="product/edit/{{pdata.id}}" class="lead" style="text-decoration: none; color: yellow;"> <i class="fa-regular fa-pen-to-square fa-bounce ms-1 fs-5 text-dark"></i>
                            Edit
                        </a> 
                            <!-- <span class="badge bg-dark text-white ms-1 rounded-pill"> 0 </span> --> 

                    </button>

                    
                    <button (click)="deleteProduct()" class="btn btn-outline-dark flex-shrink-0 border-2 border border-danger rounded-5 bg-transparent ms-3 fw-bolder" type="button">

                        <a class="lead text-warning" style="text-decoration: none;"> <i class="fa-solid fa-trash-can-arrow-up fa-shake ms-1 fs-5 text-dark"></i>
                            Delete 
                        </a> 
                        <!-- <span class="badge bg-dark text-white ms-1 rounded-pill"> 0 </span> -->
                        
                    </button>

                </div>

            </div>

        </div>

    </div>

</section>