 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-warning bg-secondary">

    <div class="container px-4 px-lg-5">

        <a class="navbar-brand fa-bounce" href=""> <span class="text-warning">Game</span>Cart </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">

                <a class="nav-link" id="" role="button" data-bs-toggle="" aria-expanded="" type="button" href="product/add"> Add a New Product </a>

            </ul>

            <form class="d-flex">

                <input [(ngModel)] = "searchTerm" (keyup) = "search($event)" type="text"  name="searchT" id="search__box" class="form-control border border-info border-1 bg-transparent rounded-5" placeholder="Search Your Product" aria-label="Search Your Product" aria-describedby="basic-addon2">

                <div class="input-group-append w-50 rounded-5">

                    <button class="btn btn-outline-dark border-0 bg-transparent" type="submit">

                        <i class="fa-solid fa-magnifying-glass fa-beat-fade ms-1 text-warning"></i>
                        Search
                        <!-- <span class="badge bg-dark text-white ms-1 rounded-pill"> 0 </span> -->
                    </button>

                </div>

            </form>

        </div>

    </div>

</nav>

<!-- Header-->
<header class="head-ban py-5">

    <div class="container px-2 px-lg-5 my-2">

        <div class="text-center text-white ">

            <div class="row">

                <div class="col-lg-6 ">

                    <div class="text-start ">

                        <img src="https://i.postimg.cc/vBcqX4vF/ezgif-com-video-to-gif-1.gif" width="100%"  alt="" class="rounded-5" id="e">

                    </div>

                </div>

                <div class="col-lg-6">
                    <h1 class="display-4 fw-bolder text-white">Shop in (<span id="e"  class="text-warning">Game</span>On) </h1>
                    <p class="lead fw-normal text-white-50 mb-1"> GameOn is a ECart online cart to Buy Different types of gaming stuff and other <br> Type of Laptops || gaming equipments <br> Etc.. </p>

                </div>

            </div>

        </div>

    </div>

</header>


