<!--  Carocel edit  -->
<div id="carouselExampleAutoplaying" class="carousel slide border-5 border border-dark" data-bs-ride="carousel">

    <div class="carousel-inner">

        <div class="carousel-item active text-center" style="margin-bottom: 58.5px; margin-top: 58.5px;">

            <div (click)="catagoryProduct('')" class="text-center mt-3">

                <img src="https://i.postimg.cc/6pF57c9d/pro.webp" class="card-img-top w-25" alt="...">

            </div>

            <div class="card-body text-center">

                <h5 class="card-title mb-3"> All Product </h5>

                <!-- <p class="card-text">Some quick example text to build on the title.</p>
                
                <button  class="btn btn-outline-dark flex-shrink-0 border-3 border border-info rounded-5 fw-bolder mt-2 mb-3" type="submit">

                    <a href="" class="lead text-danger" style="text-decoration: none;"> <i class="fa-solid fa-skull-crossbones fa-bounce ms-1 fs-5"></i>
                        Search for Games 
                    </a> 
        
                </button> -->

            </div>

        </div>

        <div class="carousel-item">

            <div (click)="catagoryProduct(1)" class="text-center mt-3">

                <img src="https://i.postimg.cc/Df9zwFcx/bm.webp" class="card-img-top w-25" alt="...">

            </div>

            <div class="card-body text-center">

                <h5 class="card-title mb-3"> Games </h5>

                <!-- <p class="card-text">Some quick example text to build on the title.</p>
                
                <button  class="btn btn-outline-dark flex-shrink-0 border-3 border border-info rounded-5 fw-bolder mt-2 mb-3" type="submit">

                    <a href="" class="lead text-danger" style="text-decoration: none;"> <i class="fa-solid fa-skull-crossbones fa-bounce ms-1 fs-5"></i>
                        Search for Games 
                    </a> 
        
                </button> -->

            </div>

        </div>

        <div class="carousel-item">
        
            <div (click)="catagoryProduct(2)" class="text-center mt-3">

                <img src="https://i.postimg.cc/76xpgJ6C/h.webp" class="card-img-top w-25" alt="..." >

            </div>

            <div class="card-body text-center">

                <h5 class="card-title mb-3"> Gaming Headphones , Mouse etc ... </h5>
                <!-- <p class="card-text">Some quick example text to build on the card title.</p>
                
                <button  class="btn btn-outline-dark flex-shrink-0 border-3 border border-info rounded-5  fw-bolder mt-2 mb-3 " type="submit">

                    <a href="" class="lead text-danger" style="text-decoration: none;"> <i class="fa-solid fa-headset fa-shake ms-1 fs-5"></i>
                        Headphones 
                    </a> 
        
                </button> -->

            </div>

        </div>

        <div class="carousel-item" >
        
            <div (click)="catagoryProduct(3)" class="text-center mt-3" style="margin-bottom: 83.5px; margin-top: 83.5px;">

                <img src="https://i.postimg.cc/d1nFZH9Q/pc.jpg" class="card-img-top w-25" alt="..." >

            </div>

            <div class="card-body text-center">

                <h5 class="card-title mb-3"> Pc </h5>
                <!-- <p class="card-text">Some quick example text to build on the card title.</p>
                
                <button  class="btn btn-outline-dark flex-shrink-0 border-3 border border-info rounded-5  fw-bolder mt-2 mb-3 " type="submit">

                    <a href="" class="lead text-danger" style="text-decoration: none;"> <i class="fa-solid fa-headset fa-shake ms-1 fs-5"></i>
                        Headphones 
                    </a> 
        
                </button> -->

            </div>

        </div>

        <div class="carousel-item">
        
            <div (click)="catagoryProduct(4)" class="text-center mt-3">

                <img src="https://i.postimg.cc/hj3S3ZQy/51m-WHXY8hy-L.jpg" class="card-img-top w-25" alt="..." >

            </div>
        
            <div class="card-body text-center">

                <h5 class="card-title mb-3"> PlayStation 5 </h5>
                <!-- <p class="card-text">Some quick example text to build on the card title.</p>
                
                <button  class="btn btn-outline-dark flex-shrink-0 border-3 border border-info rounded-5  fw-bolder mt-2 mb-3" type="submit">

                    <a href="" class="lead text-danger" style="text-decoration: none;"> <i class="fa-brands fa-playstation fa-fade ms-1 fs-5"></i>
                        uhm.. 
                    </a> 
        
                </button> -->

            </div>

        </div>

        <div class="carousel-item">
        
            <div (click)="catagoryProduct(5)" class="text-center mt-3">

                <img src="https://i.postimg.cc/43dL0Djg/gaming-laptop.jpg" class="card-img-top w-25" alt="..." >

            </div>
        
            <div class="card-body text-center">

                <h5 class="card-title mb-3"> Laptops </h5>
                <!-- <p class="card-text">Some quick example text to build on the card title.</p>
                
                <button  class="btn btn-outline-dark flex-shrink-0 border-3 border border-info rounded-5  fw-bolder mt-2 mb-3" type="submit">

                    <a href="" class="lead text-danger" style="text-decoration: none;"> <i class="fa-solid fa-laptop fa-beat ms-1 fs-5"></i>
                        uhm.. 
                    </a> 
        
                </button> -->

            </div>

        </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

</div>


<!-- Section-->
 <section class="py-5 bg-secondary">

    <div class="container px-4 px-lg-5 mt-5">

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <!--  -->

            <div *ngFor="let i of catagoryArray | search : searchString : 'productName'" class="col mb-5">

                <div class="card h-100 rounded-5 border-2" style="background-color: rgb(114, 182, 182); border-color: blue;">
                    <!-- Product image-->
                    <img style="height: 180px;" class="card-img-top w-100 border border-bottom rounded-5 " src = {{i.productImage}} alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">

                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder"> {{i.productName}} </h5>
                            <!-- Product price-->
                            {{i.price}} <i class="fa-solid fa-rupee-sign fa-beat-fade ms-1"></i>
                        </div>

                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="product/view/{{i.id}}"> View </a>
                        </div>

                    </div>

                </div>

            </div>

            <!--  -->

        </div>

    </div>

</section>
